
03_Analisis_de_Datos/Sprint_07/Unidad_02/Ejercicios_Workout/__pycache__/bootcampviztools.cpython-312.pyc
03_Analisis_de_Datos/Sprint_07/Unidad_02/Practica_Obligatoria/__pycache__/bootcampviztools.cpython-312.pyc
03_Analisis_de_Datos/Sprint_08/Unidad_02/Practica_Obligatoria/titanic1.png
03_Analisis_de_Datos/Sprint_08/Unidad_02/Practica_Obligatoria/titanic.pptx
04_Machine_Learning/Sprint_09/Unidad_01/Ejercicios_Workout/13_Ejercicios_Inferencial_SOL.ipynb
04_Machine_Learning/Sprint_09/Unidad_01/Ejercicios_Workout/14_Ejercicios_Probabilidad_SOL.ipynb
04_Machine_Learning/Sprint_09/Unidad_02/Ejercicios_Workout/15_Ejercicios_Modelado_SOL.ipynb
04_Machine_Learning/Sprint_09/Unidad_02/Ejercicios_Workout/14_Ejercicios_Features_SOL.ipynb
04_Machine_Learning/Sprint_09/Unidad_02/Ejercicios_Workout/13_Ejercicios_Proceso_Datos_SOL.ipynb
04_Machine_Learning/Sprint_10/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_Regresion_Lineal_y_Regularización_BU.ipynb
03_Analisis_de_Datos/Sprint_07/Unidad_01/Practica_Obligatoria/__pycache__/bootcampviztools.cpython-311.pyc
04_Machine_Learning/Sprint_11/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_Arboles_de_Decisión_y_Ajuste_de_hiperparámetros_BU.ipynb
04_Machine_Learning/Sprint_11/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_Arboles_de_Decisión_y_Ajuste_de_hiperparámetros_BU2.ipynb
04_Machine_Learning/Sprint_11/Unidad_01/Practica_Obligatoria/__pycache__/bootcampviztools.cpython-312.pyc
04_Machine_Learning/Sprint_11/Unidad_02/Practica_Obligatoria/__pycache__/bootcampviztools.cpython-312.pyc
